<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro</title>
    <link rel="icon" type="image/png" th:href="@{/assets/brand/icone.png}">
    <link rel="stylesheet" href="/assets/dist/css/cadastro.css">
</head>
<body>
<h2>Cadastro</h2>
<form action="/dentista/cadastro" method="post">
    <label>Nome:</label>
    <input type="text" name="nomeDentista" required>
    <br>
    <label>CRO:</label>
    <input type="text" name="cro" required>
    <br>
    <label>Telefone:</label>
    <input type="text" name="telefoneDentista">
    <br>
    <label>Email:</label>
    <input type="email" name="emailDentista" required>
    <br>
    <label>Especialidade:</label>
    <select name="especialidade">
        <option th:each="esp : ${especialidades}" th:value="${esp.idEspecialidade}" th:text="${esp.tipoEspecialidade}"></option>
    </select>
    <br>
    <button type="submit">Cadastrar</button>
</form>
</body>
</html>
